<h1>My Home</h1>

<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src='assets/images/todo-app-icon.png' width="40%" height="40%">
  <h1 class="display-5 fw-bold text-body-emphasis">TOD die Todo-App</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">"Mit unserer neuen Todo-App auf Angular-Basis können Sie Ihre Aufgaben einfach und schnell verwalten. Sie können Aufgaben hinzufügen, bearbeiten und löschen. Die App ist einfach zu bedienen und verfügt über eine intuitive Benutzeroberfläche. Sie können auch Aufgaben abhaken, um den Fortschritt Ihrer Arbeit zu verfolgen. Probieren Sie es noch heute aus!"</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a type="button" class="btn btn-primary btn-lg px-4 gap-3" routerLink="/list">Weiter zur Anwendung</a>
      <a type="button" class="btn btn-outline-secondary btn-lg px-4" href="https://www.google.de">Lieber zu Google</a>
    </div>
  </div>
</div>
