<!-- <div *ngIf="item" [ngStyle]="item.done ? {'background-color':'green'}: {}">
  <p> {{item.title}} </p>
  <p> {{item.description}}</p>
  <input type="checkbox" [checked]="item.done" (change)="item.done = !item.done" />
  <button type="button" (click)="delete()">X</button>
</div> -->


<label class="list-group-item d-flex justify-content-between align-items-start" *ngIf="item" [ngStyle]="item.done ? {'background-color':'green'}: {}">
  <div class="d-flex align-items-start gap-3">
    <input class="form-check-input flex-shrink-0" type="checkbox" type="checkbox" [checked]="item.done" (change)="item.done = !item.done" style="font-size: 1.375em;">
    <span class="pt-1 form-checked-content">
      <strong>{{item.title}}</strong>
      <small class="d-block text-body-secondary">
        {{item.description}}
      </small>
    </span>
  </div>
  <button type="button" class="btn btn-danger" (click)="delete()">X</button>
</label>

